h1
{
    text-align: center;
}
body
{
    background-color: rgba(71, 32, 54, 0.315);
}
.container 
{
    background-color: antiquewhite;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-shadow: 0px 20px 80px rgb(44, 44, 43);
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    row-gap: 30px;
}
.container .left
{
    background-color: aquamarine ;
}
.avata img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.avata
{
    display: flex;
    justify-content: center;
}
.name 
{
    padding-left: 30px;
    border-left: 1px solid black;
}
.name h2
{
    font-weight: 700 ;
    font-size: xxx-large ;
    margin-bottom: 5px;
}
.special
{
    margin: 0;
    font-weight: bold;
}
.contact
{
    padding: 0;
    list-style: none;
}
.contact span{
    display: inline-block;
    background-color: rgb(26, 32, 27);
    color: aliceblue;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    margin-right: 30px;

}
.contact li {
    padding: 5px 0; 
    transform: translate(-40px);
    background-color: antiquewhite ;
}
.intro{
    padding-left: 30px;
    border-left: 1px solid black;
    line-height: 20px;
}
.intro h2 {
    padding: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
.skill {
    max-width: 800px;
    margin: 0 auto;
}

.skill h3 {
    text-align: center;
    margin-bottom: 20px;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill-name {
    width: 70px;
    font-weight: bold;
}

.progress-bar {
    width: 300px;
    background-color: #e0e0e0;
    overflow: hidden;
    height: 15px;
}

.progress {
    height: 100%;
    background-color: #4CAF50; 
    border-radius: 10px;
}
.info
{
    line-height: 20px;
}
.info h2 
{
    margin-bottom: 20px;
}
.hub 
{
    padding-left: 30px;
    border-left: 1px solid black;
    line-height: 20px;
}
#music-icon {
    font-size: 30px;
    cursor: pointer;
    color: #007bff;
    position: absolute; 
    top: 20px;          
    right: 20px;        
}